
//- # home

extends layout

block content
  .container
    .row
      .col-md-12
        img(src='http://gravatar.com/avatar/19531031d6495f530cf1004bfea85652', alt='Chad')
        h1 Hi Clevertech!
        div(ct-comments)
